@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
  height: 100%;
  background-color: white;
}

/* :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* sizing of map */
.leaflet-container{
  height: 95vh;
  width: 80vw;
  border-radius: 0.5rem;
}
@media screen and (max-width: 768px) {
  .leaflet-container{
    height: 70vh;
    width: 80vh;
    border-radius: 1rem;
    margin-top: 10px;
  }
}
@media screen and (max-width: 475px) {
  .leaflet-container{
    height: 50vh;
    width: 100%;
    border-radius: 1rem;
    margin-top: 10px;
  }
}

@keyframes loading {
  0% { width: 0; }
  100% { width: 100%; }
}

.animate-loading {
  animation: loading 0.6s ease-in-out;
}